<div class="row pushdown">
<% if can? :all, User %>
            <%=link_to "Add User", new_user_path, class: "btn btn-primary" %>
            <% end %>
</div>
<div class="row">

  <table class="table table-striped table-hover">
    <tbody>
    <tr class="pushdown">
    <th>User</th>
    <th>Role</th> 	
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td> <%= link_to user.email, (user) %></td>
      <td> <%=  user.roles.first.name %></td>
      </tr>
      <% end %>
    </tbody>
    </table>

</div>