<div class="row pushdown">
<% if can? :all, District %>
            <%=link_to "Add District", new_district_path, class: "btn btn-primary" %>
            <% end %>
</div>
<div class="row">
<% @districts.each do |district| %>
  <table class="table table-striped table-hover">
    <tbody>
      <td> <%= link_to district.district_name, (district) %></td>
    </tbody>
    </table>
<% end %>
</div>