<% @districts.each do |district| %>
  <table class="table table-striped table-hover">
    <tbody>
      <td> <%= link_to district.district_name, (district) %></td>
    </tbody>
    </table>
<% end %>
